<div class="sidebar">
    

    
    <div class="logo-holder">
        <a class="logo">
                <span class="logo-text-1">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                </svg>
                    Admin
                </span> 
            
            </a>

    </div>
    <button class="btn btn-white btn-block" routerLink="resource">Manage Resources</button>
    <button class="btn btn-white btn-block" routerLink="course">Manage Courses</button>
    <button class="btn btn-white btn-block" routerLink="course-enquiry">Courses Enquiry</button>    
    <button class="btn btn-white btn-block" routerLink="update-course-enquiry">Update Courses Enquiry</button>
    <button class="btn btn-white btn-block" routerLink="resource-enquiry">Resource Enquiry</button>
    <button class="btn btn-white btn-block" routerLink="update-resource-enquiry">Update Resource Enquiry</button>

</div>
