.main-block{
    margin-top:100px;
    height: 300px;
}
.secondary-text{
    font-size: 1.4em;
    color:#9f9f9f;
}
.second-block{
    background-color:rebeccapurple;
    width: 100%;
    height: 500px;
}
.card-holder{
    padding-top:50px;
    width: fit-content;
    margin:0 auto;
}
.margin-top{
    /* padding-top:100px; */
}