.bd-navbar {
    min-height: 4rem;
    background-color:#563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.logincontainer
{
    width:500px;
    height:500px;
    align-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding:15px;
}
.userlogin
{
   margin-left:150px;
    color:blue;
    font-size: 24px;
}
body {
    background-color: #e3eaf3;
}
.blue-color{
    color: #6800bf !important;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial;
}

.logo{
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial;
}
.logo-text-1{
    border:1px #6800bf solid;
    padding:5px;
    color:white;
    background-color: #6800bf;
    border-radius:5px;
}
.logo-text-2{
    color:#6800bf;
    margin-left: 8px;
}