<h3> Course Enquiry List</h3>
<div class="table-block">
    <div class="card">
        <div class="card-body">
            <div class="action-buttons">
                <div class="btn-group-custom" role="group" aria-label="Basic example">
                    <!-- View button for the course enquiry -->
                    <button type="button" class="btn btn-success" (click)="openAddEditModel(AddEditTemplate,null)">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                        Add Course Enquiry
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="row"> 
                 <!-- Search filter    -->
                <label class="label">Input Search Term</label>
                <input class="form-control" type="text" [(ngModel)]="term">
            </div>
            <!-- Configurable tableHeadings -->

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let heading of tableHeadings">{{heading}}</th> 
                        <th scope="col" class="fit"></th>
                    </tr>
                </thead>
                <!-- table body -->
                <tbody>
                    <tr name="fieldName" ngDefaultControl *ngFor="let courseEnquiry of service.CourseEnquiryList |  filter:term |
                    orderBy: order | paginate: config"
                     [(ngModel)]="service.CourseEnquiryList">
                        <td>
                            <a href="javascript:void(0)" (click)="openModelWithClass(template,courseEnquiry)">
                                {{courseEnquiry.courseId.courseName}}
                            </a>
                        </td>
                        <td>{{courseEnquiry.customerId.customerName}}</td>
                        <td>{{courseEnquiry.customerId.customerEmailId}}</td>
                        <td>{{courseEnquiry.enquiryDate}}</td>
                        <td>{{courseEnquiry.enquiryStatus.statusValue}}</td>
                        <td class="fit">
                            <!-- edit and delete option     -->
                            <a class="btn btn-light" (click)="openAddEditModel(AddEditTemplate, courseEnquiry)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square"
                                    fill="grey" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </a>
                            <a class="btn btn-danger" (click)="onClickDelete(courseEnquiry)">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="white"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #template>


    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Course Enquiry</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- Course Name -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Course Name</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="courseName"
                    value="{{SelectedCourseEnquiry.courseId.courseName}}">
            </div>
        </div>

        <!-- Customer Name-->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="customerName"
                    value="{{SelectedCourseEnquiry.customerId.customerName}}">
            </div>
        </div>

        <!-- Customer Email Id -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Email Id</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="customerEmailId"
                    value="{{SelectedCourseEnquiry.customerId.customerEmailId}}">
            </div>
        </div>
       
            <!-- Customer Qualification -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Qualification</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control" id="customerQualification"
                        value="{{SelectedCourseEnquiry.customerId.customerQualification}}">
                </div>
            </div>
               
            <!-- Customer Phone Number -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Customer Phone Number</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control" id="customerPhoneNumber"
                        value="{{SelectedCourseEnquiry.customerId.customerPhoneNumber}}">
                </div>
            </div>
                   
            <!-- Customer  -->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Qualification</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control" id="customerQualification"
                        value="{{SelectedCourseEnquiry.customerId.customerQualification}}">
                </div>
            </div>
        <!-- Enquiry Date -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enquiry Date</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="enquiryDate"
                   value="{{SelectedCourseEnquiry.enquiryDate}}">
            </div>
        </div>

        <!-- Enquiry Status -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Enquiry Status</label>
            <div class="col-sm-8">
                <input type="text" readonly class="form-control" id="enquiryStatus"
                    value="{{SelectedCourseEnquiry.enquiryStatus.statusValue}}">
            </div>
        </div>
    </div>
</ng-template>


<ng-template #AddEditTemplate>

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{AddEditModalTitle}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <!-- Course Enquiry Details -->
        <app-add-course-enquiry></app-add-course-enquiry>
    </div>
</ng-template>


