  <!-- Navbar -->

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    
  
    <ul class="navbar-nav ml-auto">
        
      
      
      
      <li class="nav-item">
        <a class="nav-link btn btn-danger text-white" (click)="logOut()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-power" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
          </svg>
          Log Out</a>
      </li>
     

   
    
    </ul>
  </nav>
  
    
  

    <div class="row">
      <div class="col-sm-2">
<app-sidebar></app-sidebar>
      </div>
      <div class="col-sm-10">
  <router-outlet></router-outlet>
      </div>
    </div>
    
  
<!-- Footer -->
<footer class="page-footer font-small blue footer fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> GEO Infotech.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->