<div class="modal-body">

    <form #form="ngForm" (submit)="onSubmit(form)">

        <!-- Course Name -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Course Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="courseName" name="courseName" #courseName="ngModel"
                    [(ngModel)]="courseService.formData.courseName" class="form-control">


                <!-- Validation -->

                <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)"
                    class="alert alert-danger mt-1">

                    <div *ngIf="courseName.errors.required">
                        Course Name is required.
                    </div>
                </div>
            </div>
        </div>

        <!-- Course Description -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Course Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="description" id="description"
                    #description="ngModel" [(ngModel)]="courseService.formData.description" required
                    minlength="10">



                <!-- Validation -->

                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                    class="alert alert-danger mt-1">

                    <div *ngIf="description.errors.required">
                        Course Description is required.
                    </div>
                    <div *ngIf="description.errors.minlength">
                        Course Description must be at least 10 characters long.
                    </div>
                </div>
            </div>
        </div>

        <!-- Duration -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Duration</label>
            <div class="col-sm-8">
                <input min="1" oninput="this.value = Math.abs(this.value)" type="text" class="form-control" id="Duration" name="duration" #duration="ngModel"
                    [(ngModel)]="courseService.formData.duration" >

                <!-- Validation -->

                <div *ngIf="duration.invalid && (duration.dirty || duration.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="duration.errors.required">
                        Duration is required.
                    </div>
                    <div *ngIf="duration.errors.pattern">
                        Duration must be greater than 0.
                    </div>



                </div>
            </div>
        </div>

        <!-- Fees -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Fees</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="fees" id="Fees" #fees="ngModel"
                    [(ngModel)]="courseService.formData.fees" required min="1" oninput="this.value = Math.abs(this.value)">


                <!-- Validation -->

                <div *ngIf="fees.invalid && (fees.dirty || fees.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="fees.errors.required">
                        Fees is number.
                    </div>
                    <div *ngIf="fees.errors.pattern">
                       Pattern error
                    </div>
                    <div *ngIf="fees.errors.min">
                        Min error
                     </div>

                </div>

            </div>
        </div>

        <!-- Age Criteria -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Age Criteria</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="ageCriteria" id="ageCriteria" #ageCriteria="ngModel"
                    [(ngModel)]="courseService.formData.ageCriteria" required min="18" oninput="this.value = Math.abs(this.value)">

                <!-- Validation -->

                <div *ngIf="ageCriteria.invalid && (ageCriteria.dirty || ageCriteria.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="ageCriteria.errors.required">
                        Age Criteria is number.
                    </div>

                    <div *ngIf="ageCriteria.errors.min">
                        Min 18 age is required.
                     </div>

                </div>

            </div>
        </div>

        <!-- Score Criteria -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Score Criteria</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="scoreCriteria" id="scoreCriteria" #scoreCriteria="ngModel"
                    [(ngModel)]="courseService.formData.scoreCriteria" oninput="this.value = Math.abs(this.value)">


                <!-- Validation -->

                <div *ngIf="scoreCriteria.invalid && (scoreCriteria.dirty || scoreCriteria.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="scoreCriteria.errors.required">
                        scoreCriteria is number.
                    </div>

                </div>

            </div>
        </div>

        <!-- Status -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Status</label>
            <div class="col-sm-8">
                <select type="text" name="status" class="form-control" id="Status" #status="ngModel"
                    [(ngModel)]="courseService.formData.status" required>

                        <option *ngIf="courseService.formData.status" selected disabled [ngValue]="courseService.formData.status">
                            {{courseService.formData.status.statusType}}</option>

                  
                    <option *ngFor="let status of StatusTypeList" [ngValue]="status">
                        {{status.statusType}}
                    </option>



                </select>

                <!-- Validation -->

                <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="status.errors.required">
                        Status is required.
                    </div>

                </div>
            </div>
        </div>

        <!-- Access -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Access</label>
            <div class="col-sm-8">
                <select type="text" name="access" class="form-control" id="Access" #access="ngModel"
                    [(ngModel)]="courseService.formData.access" required>

                        <option *ngIf="courseService.formData.access" selected disabled [ngValue]="courseService.formData.access">
                            {{courseService.formData.access.accessType}}</option>
                   

                    <option *ngFor="let access of AccessTypeList" [ngValue]="access">
                        {{access.accessType}}
                    </option>
                </select>

                <!-- Validation -->

                <div *ngIf="access.invalid && (access.dirty || access.touched)" class="alert alert-danger mt-1">

                    <div *ngIf="access.errors.required">
                        Access is required.
                    </div>

                </div>
            </div>
        </div>

        <!-- Domain -->
        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Domain</label>
            <div class="col-sm-8">
                <select type="text" name="domain" class="form-control" id="Domain" #domain="ngModel"
                    [(ngModel)]="courseService.formData.domain" required>
                        <option *ngIf="courseService.formData.domain" disabled [ngValue]="courseService.formData.domain">
                            {{courseService.formData.domain.domainName}}</option>
                    <option *ngFor="let domain of DomainList" [ngValue]="domain">
                        {{domain.domainName}}
                    </option>
                </select>
                <!-- Validation -->
                <div *ngIf="domain.invalid && (domain.dirty || domain.touched)"
                    class="alert alert-danger mt-1">

                    <div *ngIf="domain.errors.required">
                        Domain is required.
                    </div>

                </div>
            </div>
        </div>

        <!-- Qualification -->
        <!-- <div class="form-group row">
            <label class="col-sm-4 col-form-label">Qualification</label>
            <div class="col-sm-8">
            <select type="text" name="qualifications" class="form-control" id="qualifications" #qualifications="ngModel"
                    [(ngModel)]="courseService.formData.qualifications" required>
                        <option *ngIf="courseService.formData.qualifications" disabled [ngValue]="courseService.formData.qualifications">
                            {{courseService.formData.qualifications.qualificationName}}</option>
                            <option *ngFor="let qualifica of QualificationList" [ngValue]="qualifications">
                        {{qualifica.qualificationName}}
                        <a>(</a>
                        {{qualifica.percentage}}
                        <a>)</a>
                    </option>
                </select>
            </div>
        </div> -->

        <div class="form-group row">
            <button class="btn btn-block btn-success mt-5" type="submit" [disabled]="form.invalid">Submit</button>
        </div>

    </form>

</div>